<div class="main-container">
    <div class="container">
        <h3 class="title-container">Ideas</h3>
        <div class="task-container">
            <p class="task">Some random ideas</p>
        </div>
        <div class="task-container">
            <p class="task">This is another random idea</p>
        </div>
        <div class="task-container">
            <p class="task">Build an awesome application</p>
        </div>
        <div class="task-container">
            <p class="task">Something to do</p>
        </div>
        <div class="task-container">
            <p class="task">More big ideas</p>
        </div>
        <div class="task-container">
            <p class="task">Too many ideas</p>
        </div>
        
    </div>

    <div class="container">
        <h3 class="title-container">Research</h3>
        <div class="task-container">
            <p class="task">Lorem Ipsum</p>
        </div>
        <div class="task-container">
            <p class="task">Kung fu</p>
        </div>
        <div class="task-container">
            <p class="task">This must go in the Research column</p>
        </div>
    </div>


    <div class="container">
        <h3 class="title-container">To Do</h3>
        <div class="task-container">
            <p class="task">Get to work</p>
        </div>
        <div class="task-container">
            <p class="task">First get a job</p>
        </div>
        <div class="task-container">
            <p class="task">Fall asleep</p>
        </div>
        <div class="task-container">
            <p class="task">Go home</p>
        </div>
        <div class="task-container">
            <p class="task">Pick up groceries</p>
         </div>
    </div>
    <div class="container">
        <h3 class="title-container">Done</h3>
        <div class="task-container">
            <p class="task">Get up</p>
        </div>
        <div class="task-container">
            <p class="task">Brush teeth</p>
        </div>
        <div class="task-container">
            <p class="task">Take a shower</p>
        </div>
        <div class="task-container">
            <p class="task">Pet cats</p>
        </div>
        
    </div>
   

</div>