<div class="main-container">
    <div class="container">
        <h3 class="title-container">Ideas</h3>
        <div class="task-container" cdkDropList
        #ideasList="cdkDropList"
        [cdkDropListData]="ideas"
        [cdkDropListConnectedTo]="[doneList, researchList, todoList]"
        (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let item of ideas" cdkDrag>{{item}}>Some random ideas</div>
        </div>
        
    </div>

    <div class="container">
        <h3 class="title-container">Research</h3>
        <div class="task-container" cdkDropList
        #researchList="cdkDropList"
        [cdkDropListData]="research"
        [cdkDropListConnectedTo]="[ideasList, doneList, todoList]"
        (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let item of research" cdkDrag>{{item}}>Lorem Ipsum</div>
        </div>
    </div>


    <div class="container">
        <h3 class="title-container">To Do</h3>
        <div class="task-container" cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList, researchList, ideasList]"
        (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let item of todo" cdkDrag>{{item}}>Get to work</div>
        </div>
    </div>
    <div class="container">
        <h3 class="title-container">Done</h3>
        <div class="task-container" cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[ideasList, researchList, todoList]"
        (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let item of done" cdkDrag>{{item}}>Get up</div>
        </div>      
    </div>
   

</div>